#menuScreen {
    position: absolute;
    box-sizing: border-box;
    width: 900px;
    height: 600px;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px 5px;

    background-color: white;

    visibility: hidden;
}

#startScreen {
    display: none;
    visibility: hidden;
}

#endScreen {
    display: none;
    visibility: hidden;
}

#deathScreen {
    display: none;
    visibility: hidden;
}

.h1 {
    text-align: center;
}

#playerNameRow {
    display: inline-block;
    margin: 0 auto;
}

#playButton {
    width: 300px;
    height: 40px;
    margin: 0 auto;
}

#player1Hud {
    position: absolute;
    z-index: 10;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: orange;
}

#player2Hud {
    position: absolute;
    z-index: 10;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: orange;
}

#hudCurrentTurn {
    z-index: 10;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 500px;
    height: 80px;
    background-color: purple;
    text-align: center;
}