* {
    font-family: Arial, sans-serif;
}

#menuScreen {
    position: absolute;
    box-sizing: border-box;
    width: 900px;
    height: 600px;
    top: 200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px 5px;

    border-radius: 25px;
    border-color: whitesmoke;
    border-style: double;

    background-color: saddlebrown;
    color: whitesmoke;
    opacity: 0.9;

    padding: 20px;

    visibility: hidden;
}


#hudCurrentTurn {
    z-index: 10;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 500px;
    height: 80px;
    text-align: center;
    background-color: saddlebrown;
    color: whitesmoke;

    overflow: hidden;

    opacity: 0.6;

    border-radius: 25px;
    border-color: whitesmoke;
    border-style: double;
}

#startScreen {
    display: none;
    visibility: hidden;
}

#endScreen {
    display: none;
    visibility: hidden;
}

#deathScreen {
    display: none;
    visibility: hidden;
}

.h1 {
    text-align: center;
}

#playerNameRow {
    display: inline-block;
    margin: 0 auto;
}

#playButton {
    width: 300px;
    height: 40px;
    margin: 0 auto;
}

#player1Hud {
    position: absolute;
    z-index: 10;
    left: 0;
    width: 300px;
    height: 100%;
    color: white;
    padding: 30px;

    overflow: hidden;

    background-color: saddlebrown;
    opacity: 0.4;
}

#player2Hud {
    position: absolute;
    z-index: 10;
    right: 0;
    width: 300px;
    height: 100%;
    padding: 30px;
    color: white;

    overflow: hidden;

    background-color: saddlebrown;
    opacity: 0.4;
}
